.login-container {
  background: #fff;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 400px;
  margin: 40px auto; /* center on page */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}

.login-form h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: #333;
  font-weight: 700;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 600;
  font-size: 0.9rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem 0.9rem;
  margin-bottom: 1.5rem;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.login-form input:focus {
  border-color: #673DE6;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 0.80rem 0;
  background-color: #673DE6;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #673de6e2;
}

.form-link {
  text-align: center;
  margin-top: 1.25rem;
  font-size: 0.9rem;
  color: #555;
}

.form-link a {
  color: #673DE6;
  text-decoration: none;
  font-weight: 600;
}

.form-link a:hover {
  text-decoration: underline;
}
.forgot-password-link-wrapper {
  margin-top: 1rem;
  text-align: right;
}

.forgot-password-link {
  font-size: 0.9rem;
  color: #673DE6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password-link:hover {
  color: #673de6e2;
  text-decoration: underline;
}

.login-form .show-password {
   display: flex;
  align-items: start;
  font-size: 0.9rem;
  color: #333;
  margin: -1rem 0 1.5rem;
  gap: 8px;
}
.show-password input{
  text-align: start;
      width: 4%;
}
.login-form .show-password input[type="checkbox"] {
  accent-color: #673DE6; 
  cursor: pointer;
}

.spinner-login {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

/* Spin animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
