.sidebar {
  width: 217px;
  background: #020617;
  color: #fff;
  height: 100vh;
  padding: 16px;
  position: fixed;
  left: -260px;
  top: 0;
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  
}

.sidebar.open {
  left: 0;
  z-index: 9999;
}

/* HEADER */
.sidebar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid #1e293b;
}

.logo {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/* LINKS */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 14px 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.nav-links::-webkit-scrollbar {
  width: 0;
}
.nav-links {
  scrollbar-width: none;
}

.nav-links li {
  margin-bottom: 4px;
}

/* LINK STYLE */
.nav-links a,
.nav-links li.logout-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  font-size: 14px;
  color: #cbd5f5;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.25s, padding-left 0.25s;
  text-decoration: none;
}

.nav-links a i,
.nav-links li.logout-btn i {
  width: 18px;
  text-align: center;
}

/* HOVER */
.nav-links a:hover,
.nav-links li.logout-btn:hover {
  background: linear-gradient(
    to right,
    rgba(99, 102, 241, 0.18),
    transparent
  );
  padding-left: 22px;
}

/* ACTIVE */
.nav-links a.active {
  background: rgba(99, 102, 241, 0.25);
  color: #fff;
}

/* LOGOUT-btn */
.nav-links li.logout-btn {
  margin-top: auto;
  color: #f87171;
  border-top: 1px solid #1e293b;
  padding-top: 16px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 20%;
}

.nav-links li.logout-btn i {
  color: #f87171;
  color: #fff;
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .sidebar {
    left: 0;
  }
  .close-btn {
    display: none;
  }
}
