body{
  margin: 0;padding: 0;
  box-sizing: border-box;
}

.bg-login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/website_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.login-right{
  background-image: url('../../../public/form-right-image.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-wrapper {
  width: 100%;
  max-width: 650px;
  height: 500px;
  display: flex;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

.login-left {
  flex: 1;
  /* padding: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.login-form {
  padding: 2rem;
  width: 100%;
}

.login-form p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 2rem;
}
.login-form h2 {
  margin: 0;padding: 0;
  text-align: center;
  color: #333;
  font-weight: 700;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 600;
  font-size: 0.9rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem 0.9rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.login-form input:focus {
  border-color: #673DE6;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 0.70rem 0;
  background-color: #673DE6;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #673de6e2;
}

.forgot-password-link-wrapper {
  margin-top: 1rem;
  text-align: right;
}

.form-link {
  text-align: center;
  margin-top: 1.25rem;
  font-size: 0.9rem;
  color: #555;
}

.forgot-password-link-wrapper {
  margin-top: 1rem;
  text-align: right;
}

.forgot-password-link {
  font-size: 0.9rem;
  color: #673DE6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password-link:hover {
  color: #673de6e2;
  text-decoration: underline;
}

.login-form .show-password {
  display: flex;
  text-align: center;
  align-items: start;
  color: #333;
  margin: -1rem 0 0rem;
  gap: 3px;
}
.login-form .show-password label {
  margin-bottom: 0 !important;
  margin-top: 2px;
  font-size: 0.7rem;
  color: #333;
}
.show-password input{
  text-align: start;
  width: 3%;
}

.show-password input[type="checkbox"] {
  accent-color: #673DE6; 
  cursor: pointer;
  width: 11px;
  height: 11px;
}

.login-right {
  flex: 1;
  background-size: cover;
  background-position: center;
}

/* Spinner styles */
.spinner-login {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 17px !important;
  height: 17px !important;
  animation: spin-login 1s linear infinite;
  margin: 0 auto;
}

/* Spin animation */
@keyframes spin-login {
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  .login-wrapper {
    margin: 1rem;
    flex-direction: column;
    height: auto;
  }
  .login-right {
    height: 250px;
  }
}
