/* ===============================
   HEADER
================================ */
*{
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 18px;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;;
}

.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.user-name {
  font-size: 15px;
  font-weight: 500;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}


/* ===============================
   PROFILE ICON
================================ */
.profile-icon {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #388e3c;
}

/* ===============================
   PROFILE OVERLAY
================================ */
.profile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

/* ===============================
   PROFILE SIDEBAR
================================ */
.profile-sidebar {
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
}

.profile-sidebar.open {
  right: 0;
}

/* SIDEBAR HEADER */
.sidebar-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  margin-top: 20px;
  border-bottom: 1px solid #1e293b;
}

.sidebar-header-right h3 {
  margin: 0;
  font-size: 16px;
}

.sidebar-email {
  font-size: 14px;
  color: #373f4a;
}
.close-btn-rightbar {
  cursor: pointer;
  font-size: 20px;
}

/* SIDEBAR LINKS */
.sidebar-links li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #1e293b;
  transition: background 0.25s, padding-left 0.25s;
}

.sidebar-links li i {
  font-size: 20px;
  text-align: center;
  color: #388e3c;
}

.sidebar-links li span {
  flex: 1;
}

.sidebar-links li:hover {
  background: linear-gradient(to right, rgba(99, 102, 241, 0.15), transparent);
  padding-left: 26px;
}


/* ===============================
   ANIMATIONS
================================ */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 768px) {
  .header {
    left: 0;
    width: 100%;
  }

  .user-name {
    display: none;
  }


  .profile-icon {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }

  .header-right {
    gap: 10px;
  }

  .profile-sidebar {
    width: 260px;
  }

  .modal {
    width: 90%;
  }
}