.analytics-container {
  margin: auto;
  background: #fff;
  padding: 25px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
  animation: fadeIn 0.3s ease-in-out;
}

/* Slug highlight */
.slug {
  color: #0070f3;
  font-weight: 600;
}

/* Grid for main charts */
.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  margin-top: 25px;
}

/* Standard chart box */
.chart-card {
  background: #f8faff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  transition: all 0.25s ease;
}

.chart-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.chart-card h4 {
  margin-bottom: 12px;
  font-weight: 600;
  color: #333;
}

/* Funnel chart */
.funnel-box {
  margin-top: 35px;
  padding: 20px;
  background: #eef4ff;
  border-radius: 14px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.funnel-box h3 {
  margin-bottom: 15px;
  color: #334;
  font-weight: 600;
}


/* Mobile responsive */
@media (max-width: 600px) {
  .chart-card,
  .funnel-box {
    padding: 15px;
  }

  /* .charts-grid {
    grid-template-columns: 1fr;
    width: 100%;
  } */
}

/* Smooth fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.daily-list {
  margin-top: 15px;
  padding: 15px;
  background: #f7f9fc;
  border-radius: 10px;
  border: 1px solid #e3e8ef;
  max-height: 200px; 
  overflow-y: auto; 
}
.daily-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.daily-list {
  scrollbar-width: none;
}

.daily-list ul {
  margin-top: 12px;
  padding: 0;
  list-style: none;
}

.daily-list li {
   display: flex;
  justify-content: space-between;
  background: #f1f7ff;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 6px;
  font-size: 13px;
}

.daily-list li:last-child {
  border-bottom: none;
}

.daily-list .date {
  font-weight: 600;
  color: #333;
}

.daily-list .views {
  color: #20bf6b;
  font-weight: 600;
}

.country-list {
  margin-top: 15px;
  padding: 15px;
  background: #f7f9fc;
  border-radius: 10px;
  border: 1px solid #e3e8ef;
  max-height: 200px; 
  overflow-y: auto; 
}
.country-list::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
.country-list ul {
  margin-top: 12px;
  padding: 0;
  list-style: none;
}

.country-list li {
  display: flex;
  justify-content: space-between;
  background: #f1f7ff;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 6px;
  font-size: 13px;
}

.country-list .country {
  font-weight: 600;
  color: #333;
}

.country-list .views {
  color: #20bf6b;
  font-weight: 600;
}
.original_url{
  margin: 10px 0px;
}