/* Container styles */

.forgot-password-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/website_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 0.6s ease-in-out;
}

/* Form styles */
.forgot-password-form {
  background: #f9faff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  animation: slideUp 0.5s ease-in-out;
}

.forgot-password-form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
  font-size: 1.8rem;
}

.forgot-password-form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  color: #444;
}

.forgot-password-form input {
  width: 92.5%;
  padding: 0.6rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.forgot-password-form input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.forgot-password-form button {
  width: 100%;
  padding: 0.70rem 0;
  background-color: #673DE6;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.login-form button:hover {
  background-color: #673de6e2;
}


.forgot-password-form button:disabled {
  background-color: #a5b4fc;
  cursor: not-allowed;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 500px) {
  .forgot-password-form {
    padding: 1.5rem;
  }

  .forgot-password-form h2 {
    font-size: 1.5rem;
  }
}



.forgot-password-form .show-password {
   display: flex;
  align-items: start;
  font-size: 0.9rem;
  color: #333;
  margin: 0rem 0 1.5rem;
  gap: 8px;
}
.forgot-password-form .show-password input{
  text-align: start;
   width: 4%;
   margin-top: 18px;
}
.forgot-password-form .show-password input[type="checkbox"] {
  accent-color: #007bff; 
  cursor: pointer;
}